 #map {
    float: left;
    width: 95%;
    height: 87%;
    position: absolute;
}

 h1 {
    margin: 1em 0 0.5em 0;
    font-weight: 600;
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    color: #355681;
}
        
p {
    color: black;
}
        
span {
    color: tomato;
}