/**
Based on: https://codepen.io/dodozhang21/pen/PwGLar
Inspired by: https://tympanus.net/Development/ModalWindowEffects/
*/

/* @import url(https://fonts.googleapis.com/css?family=Raleway:200,600,700,400); */
/* body {
    background: #cae4b6;
    color: #c94e50;
    font-weight: 400;
    font-size: 1em;
    font-family: 'Raleway', Arial, sans-serif;
} */

.gisplayModalOverlay,
.gisplayModal {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 5000;
}

.gisplayModalContent button {
    padding: 1em 2em;
    outline: none;
    font-weight: 600;
    border: none;
    color: #fff;
    background: #c94e50;
    z-index: 5001;
}

.gisplayModal {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

.gisplayModalOverlay {
    position: absolute;
    background: rgba(55, 58, 71, 0.9);
    transition: opacity 0.7s;
}

.gisplayModalContent {
    width: 50%;
    max-width: 100%;
    min-width: 70%;
    background: #fff;
    padding: 4em;
    text-align: center;
    z-index: 5001;
}

.gisplayModalContent div {
/*     margin: 0;
    font-weight: 400;
    font-size: 2em;
    margin: 0; */

    font-weight: bold;
    font-weight: 400;
    background: #c94e50;
    width: 100%;
    height: 25%;
    position: absolute;
    left: 0;
    top: 0;
}

.gisplayModalContent p {
    font-size: 2em;
}

.gisplayModalContent {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-name: gisplayModal-open;
    animation-timing-function: cubic-bezier(0.6, 0, 0.4, 1);
}

@keyframes gisplayModal-open {
    0% {
        opacity: 1;
        transform: scale3d(0, 0, 1);
    }
    100% {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
}